.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    height: 100vh;
}

.formContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    margin-top: 80px;
}

.img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    animation: move 3s infinite ease alternate;
}

@keyframes move {
    from {
        transform: translateY(-20px);
    }
     to {
        transform: translateY(0px) scale(1.05);
     }
}

.imgContact {
    flex: 1;
    display: flex;
    align-items: flex-start;
}


.form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    color: white;
}

.input {
    height: 50px;
    width: 500px;
    background-color: transparent;
    border: 2px solid grey;
    padding: 10px;
}

.textarea {
    height: 200px;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 2px solid grey;
    text-align: start;
}

.form form button {
    padding: 10px 40px;
    background-color: red;
    color: white;
    border-radius: 3px;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.heading h1 {
    font-size: 45px;
}

.loader {
    display: flex;
    justify-content: center;
}